@model BookTickets.Models.Ticket
@using BookTickets.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorization</title>
</head>
<body>
    <div>
        <h2>Здравствуйте, выберите пожалуйста место, которое хотите купить:</h2>
        @using (Html.BeginForm("Buy","Home",FormMethod.Post))
        {
            List<SelectListItem> list = new List<SelectListItem>();//Список значений для DDL
            list.Add(new SelectListItem() { Text = " " });
            int[] places = Html.GetNumbersOfPlaces(Model.Route.RouteID);//Использование расширения для получения списка значений
            for (int i = 0; i < places.Length; i++)
            {
                list.Add(new SelectListItem() { Text = places[i].ToString() });//Заполняем его
            }
            @Html.DropDownListFor(x => x.NumberOfPlace, list, new { @id = "NumbersOfPlaces" })
            @Html.HiddenFor(x => x.Route.RouteID);
            @Html.HiddenFor(x => x.Route.Cost);
            @Html.HiddenFor(x => x.Route.FinishPoint);
            @Html.HiddenFor(x => x.Route.StartPoint);
            @Html.HiddenFor(x => x.Route.TimeArrival);
            @Html.HiddenFor(x => x.Route.MaxNumberOfPlace);
            @Html.HiddenFor(x => x.Route.RouteNumber);            
            <input type="submit" value="Купить" />
            <input type="button" value="Отмена" onclick="location.href='@Url.Action("Index", "Home")'">
        }
    </div>
</body>
</html>

<script>
    @*$(function () {//Использование ajax для получения списка значений
        $.ajax({//Вызываем асинхронный метод
            url: '@Url.Action("Ajax", "Home")',//указываем, по какому пути лежит обработчик, то есть метод, который выполнится асинхронно
            success: function (data) {//Данная функция выполнится в случае успеха при выполнении асинхронного метода, data - возвращенные данные в формате Json
                $('#NumbersOfPlaces').html("");//Очищаем dropdownlist от значений
                $('#NumbersOfPlaces').append($('<option></option>').val(" ").html(" "));//кладем пустое

                $.each(data, function (index, item) {//для каждого из возвращенных значений выполняем функцию. index - индекс в списке, item - самое значение
                    $('#NumbersOfPlaces').append($('<option></option>').val(item).html(item));//кладем определенным образом это значение в dropdownlist
                });
            }
        });
    });*@
</script>
