@model List<BookTickets.Models.Ticket>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InformationAboutTicket</title>
</head>
<body>
    <div>
        <h2>Рейсы:</h2>
        @if (Model.Count > 0)
        {

            <table>
                <thead>
                    <tr>
                        <th>Состояние</th>
                        <th>Номер места</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookTickets.Models.Ticket t in Model)
                    {
                        if (t.IsDeleted == false) { 
                        <tr>
                            <td>@t.Condition</td>
                            <td>@t.NumberOfPlace</td>
                            @if (t.Condition == "booked")
                            {
                                <td><input type="button" value="Отменить бронирование" onclick="location.href='@Url.Action("CancelBook", "Home", new { ticketId = t.TicketID })'"></td>
                                <td>@Html.ActionLink("Купить", "TryBuy")</td>
                            }
                            @if (t.Condition == "bought")
                            {
                                <td><input type="button" value="Вернуть билет" onclick="location.href='@Url.Action("ReturnTicket", "Home", new { ticketId = t.TicketID })'"></td>
                            }
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Нет данных о рейсах</h3>
        }
        <br />
        <input type="button" value="Перейти на главную страницу" onclick="location.href='@Url.Action("Index", "Home")'">
    </div>
</body>
</html>
